@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

// font
$primary_font_family: 'Montserrat', sans-serif;

//color
$primary_color: #f0f0f0;
$dark: #333;
$white: #fff;
$black: #000;

// border
$border_color: #808080;
$border_radius: 20px;

// shadow
$shadow: 0 0 10px rgba(0,0,0,0.2);